# Python environment files
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# SQLite database (Isay upload nahi karna chahiye taake data leak na ho)
*.db
*.db-journal

# Streamlit specific
.streamlit/config.toml

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/